.MyCartContainer{
    min-width:1500px;
    min-height:750px;
    flex:1;
}
.CartTitle{
    display:flex;
    justify-content:center;
    align-items:center;
    height:200px;
    font-size:40px;
}
.OrderTableRow{
    height: 40px;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}
.empty-cart-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.empty-img{
    width:300px;
    height:300px;
}
.empty-span{
    font-size: 18px;
    font-weight: 600;
}
.EmptyContentRow{
    height: 120px;
    border-bottom: 1px solid #dee6e6;
}
.TableContentRow{
    height: 120px;
    border-bottom: 1px solid #dee6e6;
}
.JustifyContentCenter{
    display:flex;
    justify-content:center;
}
.table-top-div{
    display:flex;
    width:1000px;
    height:70px;
}
.StoreNameDiv{
    width:1000px;
    height:40px;
    display:flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size:36px;
    font-weight:600;
}
.user-address-div{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.user-address-input{
    font-size: 14px;
    width: 300px;
    height: 35px;
    padding: 10px;
}
.location-icon{
    width:30px;
    margin:10px;
}
.CartTable{
    width:1000px;
}
.food-img {
    width: 200px;
    height: auto;
    margin-right: 20px;
}
.FoodImgNInfo{
    display:flex;
    align-items:center;
    margin-left: 10px;
}
.NameNDescDiv{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
}
th{
    text-align:center;
}
.SubTd_quantity{
    text-align:center;
}
.SubTd_price{
    text-align:center;
}
.FoodTotal{
    min-width:80px;
    text-align:center;
}
.AllTotalPrice{
    text-align:right;
}
.QuantityDiv{
    display: flex;
    flex-direction: column;
}
.QuantityControlBtn{
    border: none;
    background-color: white;
    font-size:20px;
}
.DeleteBtn{
    border: none;
    background-color: transparent;
}
.DeleteImgDiv{
    display: flex;
    justify-content: center;
}
.user-info-div{
    width: 1000px;
    height: 100px;
    margin:15px;
    padding: 10px;
}
.user-info-span{
    font-weight:600;
}
.TrashCanImg{
    width:30px;
}
.BuyFoodDiv{
    position: sticky;
    z-index: 95;
    bottom:50px;
    display:flex;
    justify-content:center;
    margin-bottom:50px;
}
.BuyBtn{
    width: 200px;
    height: 50px;
    background-color: #F986BD;
    border: none;
    border-radius: 4%;
    color: white;
}
.QuantityArrowIcon{
    width:20px;
}