table {
    width: 280px;
    height: 550px;
    margin: auto;
}
.email {
    width: 50%;
    height: 41px;
    font-size: 15px;
    border: 1px solid #c6c1bf;
    border-radius: 0px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(249 246 241);
}
.text {
    width: 250px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233,233,233);
}
select {
    width: 42%;
    height: 39px;
    font-size: 15px;
    border: 1;
    border-color: lightgray;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
}
.btn {
    width: 262px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(164, 199, 255);
}
.btn:active {
    width: 262px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(61, 135, 255);
}

.btnBlueGreen {
    display: flex;
    position: relative;
    float: left;
    width: 100px;
    padding: 0;
    margin: auto;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    color: #FFF;
    border-radius: 5px;
    height: 37px;
    transition: all 0.2s;
    align-items: center;
    justify-content: center;
}

.btnBlueGreen {
    background: #737272;
}

.btnFade.btnBlueGreen:hover {
    background: #333333;
}



.post_list{
    width: 980px;
    margin: 0 auto;
    padding-top: 65px;
    border-top: 1px solid #d4d4d4;
}
body{
    word-break: keep-all;
}
div {
    display: block;
    unicode-bidi: isolate;
}
.site-container {
    padding: 150px 0 170px;
}

.page-header {
    margin-top: 70px;
}
.page-header__container {
    width: var(--size-pc);
    margin: 0 auto;
}

.page-header__title {
    display: inline-block;
    position: relative;
    color: #f986bd;
    font-family: var(--font-family-scoop), serif;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: -.025em;
    line-height: 1;
    text-align: center;
}

:root {
    --pink-color-1: #ffb3c3;
    --pink-color-2: #ff4d72;
    --pink-color-3: #ff7c98;
    --point-color: var(--pink-color-2);
    --brown-color-1: #41332c;
    --brown-color-2: #2f231c;
    --brown-color-3: #948780;
    --gray-color-1: #d4d4d4;
    --font-family-ko: Sandoll GothicNeo1 TTF, -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
    --font-family-en: Sandoll GothicNeo1 TTF, -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
    --font-family-scoop: "Scoop", Sandoll GothicNeo1 TTF, -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
    --size-pc: 1500px;
    --font-weight-sd-regular: 400;
    --font-weight-sd-medium: 500;
    --font-weight-sd-semibold: 600;
    --font-weight-sd-bold: 600;
    --font-weight-sd-extrabold: 600;
    --font-weight-sd-heavy: 700;
}

h1, h2, h3, h4, h5, h6, strong, em {
    font-weight: var(--font-weight-sd-bold);
}

.page-header__content {
    text-align: center;
}

.login__inner {
    width: 500px;
    margin: 0 auto;
}
.login__content {
    width: 600px;
    margin: 0 auto;
    padding-top: 65px;
    border-top: 1px solid #d4d4d4;
}
.login__container {
    width: var(--size-pc);
    margin: 70px auto 0;
}

.login__input {
    display: block;
    width: 100%;
    height: 52px;
    border: 1px solid #c6c1bf;
    background: #f9f6f1;
    color: #ac9181;
    font-weight: var(--font-weight-sd-medium);
    font-size: 18px;
    text-align: center;
}
.login__address {
    display: block;
    width: 250px;
    height: 52px;
    border: 1px solid #c6c1bf;
    background: #f9f6f1;
    color: #ac9181;
    font-weight: var(--font-weight-sd-medium);
    font-size: 18px;
    margin: 15px 0 10px 0;
    text-align: center;

}
.addressbtn{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}


.login__address1 {
    display: block;
    width: 100%;
    height: 52px;
    border: 1px solid #c6c1bf;
    background: #f9f6f1;
    color: #ac9181;
    font-weight: var(--font-weight-sd-medium);
    font-size: 18px;
    text-align: center;
}

form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}



fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
    min-width: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

input {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    overflow: visible;
}

.login__button--login {
    margin-top: 10px;
    background: #000;
    color: #fff;
    font-weight: var(--font-weight-sd-bold);
    font-size: 18px;
}

.login__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    border-radius: 25px;
}

.login__buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.login__link {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #000;
    color: #444;
    font-weight: var(--font-weight-sd-bold);
    font-size: 17px;
}

.login__link+.login__link+.login__link {
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

.login__label {
    display: block;
}
label {
    cursor: default;
}
.login__label+.login__label {
    margin-top: 10px;
}

*,*:before,*:after {
    box-sizing: border-box;
}

button, input {
    overflow: visible;
}
.login__input, .login__address1, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 10px 0 20px 0;
}

legend {
    border: 0;
    background: transparent;
    color: transparent;
    font: 0 / 0 a;
    text-shadow: none;
}
body, dl, dt, dd, figure, h1, h2, h3, h4, h5, h6, ol, ul, li, p, table, td, th, legend {
    margin: 0;
    padding: 0;
}

.page-header__text {
    display: inline-block;
    padding: 0 25px;
    color: #f986bd;
    font-weight: var(--font-weight-sd-bold);
    font-size: 20px;
    line-height: 1.5;
}

.page-header__content+.page-header__content .page-header__text {
    margin-top: 50px;
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 40px 0 54px;
    height: 55px;
    width: 55px;
}
