        body {
          margin: 0;
          padding: 0;
          overflow-x: hidden;
      }
        .container{
        min-width:1920px;
        height:100%;
        margin:0px;
        padding:0px;

        }
        .MainLine {
            background-color: #F986BD;
            height: 5rem;
            display: flex;
            padding: 2rem;
        }
        .InnerLine{
             display:flex;
             justify-content: space-between;
             width:100%;
             margin-left:4rem;
             margin-right:4rem;
             align-items: center;
        }
        .MenuStyle{
            width:7rem;
            display:flex;
            justify-content: space-between;
            align-items: center;
        }
        .Logo {
            color: white;
            font-size: 2rem;
            font-weight: 600;
            text-decoration:none;
        }
        .ScrollBtnImage{
            width:2rem;
        }
        .BannerStyle{
            width:100%;
            height:36rem;
        }
        .carousel-control-prev-icon,
        .carousel-control-next-icon {
         width: 3rem;
         height: 3rem;
        }
        .CategoryDiv{
         display:flex;
         padding:3rem;
        }
        .Category{
         background-color:transparent;
         border:none;
         width:14rem;
         height:9rem;
         margin:auto;
       }
        .SubContentsDiv{
        display:flex;
        justify-content:space-between;
        padding:5rem;
        }
        .SubContents{
        background-color:transparent;
        border:none;
        width:16rem;
        height:10rem;
        }
        .MiniTitle{
        text-decoration:none;
        color:white;
        }
        .StickyHeader {
        width: 1920px;
        position: sticky;
        top: 0;
        z-index: 100;
       }
       .HeaderMenuImage{
       width:1.5rem;
       }
       .CardContainerDiv{
        display:flex;
       }
       .BrandCard{
        min-width:20rem;
        height:16rem;
        margin:3rem;
       }
       .ScrollBtn{
       position: sticky;
       left:0;
       right: 30px;
       z-index: 95;
       width:2rem;
       border:none;
       background-color:transparent;
       }
       .FooterMain{
       width:1920px;
       height:100%;
       position:relative;
       padding:4rem;
       }
       .FooterTopFont{
       text-decoration: underline;
       font-weight:600;
       font-size:2rem;
       }
       .FooterDiv{
       width:1200px;
       display:flex;
       justify-content: space-evenly;
       margin-top:2rem;
       }
       .FooterContents{
        text-align:left;
       }
       .FooterLine{
       display:flex;
       justify-content:center;
       }
       .BlankSpace{
       min-width:340px;
       }
       .SloganFont{
       font-weight:600;
       font-size:3rem;
       }
       .SearchDiv{
       display:flex;
       margin-left:auto;
       margin-right:2rem;
       }
       .SearchText{
        background-color:#F986BD;
        border:none;
        border-bottom:3px solid white;
        width:12rem;
       }
       .SearchText:focus{
       outline:none;
       }
       .SearchBtn{
        background:transparent;
        border:none;
       }