        body {
          margin: 0;
          padding: 0;
          user-select:none;
      }
        .MainPage{
          height:100%;
          min-width:1500px;
          margin:0px;
          padding:0px;
        }
        .MainLine {
          background-color: #F986BD;
          height: 60px;
          display: flex;
          padding: 2rem;
        }
        .InnerLine{
          display:flex;
          justify-content: space-between;
          width:100%;
          margin-left:4rem;
          margin-right:4rem;
          align-items: center;
        }
        .MenuStyle{
          width:7rem;
          display:flex;
          justify-content: space-between;
          align-items: center;
        }
        .Logo {
         color: white;
         font-size: 2rem;
         font-weight: 600;
         text-decoration:none;
        }
        .ScrollBtnImage{
         width:2rem;
        }
        .BannerStyle{
         width:100%;
         height:36rem;
        }
        .carousel-control-prev-icon,
        .carousel-control-next-icon {
         width: 3rem;
         height: 3rem;
        }
        .carousel-control-prev{
        width:150px;
        }
        .carousel-control-next{
        width:150px;
        }
        .CategoryDiv{
         display:flex;
         padding:3rem;
        }
        .Category{
         width:200px;
         height:120px;
         margin:auto;
       }
       .CategoryImg{
         width:100%;
         height:100%;
       }
        .SubContentsDiv{
        display:flex;
        justify-content:space-between;
        padding:5rem;
        }
        .SubContents{
        background-color:transparent;
        border:none;
        width:16rem;
        height:10rem;
        }
        .MiniTitle{
        text-decoration:none;
        color:white;
        }
        .StickyHeader {
        width: 100%;
        height: 60px;
        min-width:1500px;
        position: sticky;
        top: 0;
        z-index: 100;
       }
       .HeaderMenuImage{
       width:28px;
       }
       .notification-bubble {
           position: absolute;
           top: 15px;
           right: 90px;
           width: 18px;
           height: 18px;
           background-color: red;
           color: white;
           border-radius: 50%;
           display: flex;
           align-items: center;
           justify-content: center;
           font-size: 12px;
           font-weight: bold;
       }
       .CardAtagStyle{
       text-decoration:none;
       color:black;
       }
       .card-img-top{
       height: 150px;
       object-fit: cover;
       }
       .CardContainerDiv{
        display:flex;
        justify-content:space-between;
        overflow-x: hidden;
       }
       .card-title {
        font-weight:600;
       }
       .card-text{
        font-size:14px;
       }
       .BrandCard{
        margin:15px;
        width:310px;
       }
       .ScrollBtn{
       position: sticky;
       left:0;
       right: 30px;
       z-index: 95;
       width:2rem;
       border:none;
       background-color:transparent;
       }
       .FooterMain{
       width: 100%;
       min-width:1500px;
       max-height:450px;
       position:relative;
       padding:4rem;
       }
       .FooterTopFont{
       text-decoration: underline;
       font-weight:600;
       font-size:24px;
       margin:0px;
       }
       .FooterDiv{
       width:1200px;
       height:150px;
       display:flex;
       justify-content: space-evenly;
       margin-top:2rem;
       }
       .FooterContents{
        font-size:12px;
        width:400px;
        height:150px;
        text-align:left;
       }
       .FooterLine{
       display:flex;
       justify-content:center;
       }
       .BrandName{
        font-size: 14px;
        font-weight:600;
       }
       .BlankSpace{
       min-width:400px;
       }
       .SloganFont{
       font-weight:600;
       font-size:36px;
       margin:0px;
       }
       .SearchDiv{
       display:flex;
       margin-left:auto;
       margin-right:2rem;
       }
       .SearchText{
        background-color:#F986BD;
        border:none;
        border-bottom:3px solid white;
        width:12rem;
       }
       .SearchText:focus{
       outline:none;
       }
       .SearchBtn{
        background:transparent;
        border:none;
       }