        body {
            user-select: none;
            margin:0px;
        }
        .MainLine {
            background-color: #F986BD;
            height: 6rem;
            display: flex;
            padding: 2rem;
        }
        .InnerLine{
             display:flex;
             justify-content: space-between;
             width:100%;
             margin-left:4rem;
             margin-right:4rem;
             align-items: center;
        }
        .MenuStyle{
            width:10rem;
            display:flex;
            justify-content: space-between;
        }
        .Logo {
            color: white;
            font-size: 2rem;
            font-weight: 600;
            text-decoration:none;
        }
        .ImageStyle{
            width:2rem;
        }
        .BannerStyle{
            width:100%;
            height:40rem;
        }
        .carousel-control-prev-icon,
        .carousel-control-next-icon {
         width: 3rem;
         height: 3rem;
        }
        .CategoryDiv{
         display:flex;
         padding:6rem;
        }
        .Category{
         background-color:transparent;
         border:none;
         width:18rem;
         height:12rem;
         margin:auto;
       }
        .SubContentsDiv{
        display:flex;
        justify-content:space-between;
        padding:8rem;
        }
        .SubContents{
        background-color:transparent;
        border:none;
        width:18rem;
        height:12rem;
        }

        .MiniTitle{
        text-decoration:none;
        color:white;
        }
        .StickyHeader {
        position: sticky;
        top: 0;
        z-index: 100;
       }
       .CardContainerDiv{
        display:flex;
       }
       .BrandCard{
        min-width:24rem;
        height:20rem;
        margin:3rem;
       }
       .StickyBtn{
        position: sticky;
        right: 0;
        z-index: 100;
       }
       .ScrollBtn{
       width:3rem;
       border:none;
       background-color:white;
       }
       .FooterMain{
       padding:4rem;
       text-align:center;
       }
       .FooterTopFont{
       text-decoration: underline;
       font-weight:600;
       }
       .FooterDiv{
       display:flex;
       justify-content:center;
       margin-top:2rem;
       }
       .FooterContents{
        text-align:left;
       }
       .SloganFont{
       font-weight:600;
       font-size:4rem;
       }