.container{
    min-width:1500px;
    min-height:750px;
    flex:1;
}
.my-page-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-top:50px;
}
.title-top-div{
    display: flex;
    align-items: center;
}
.profile-icon{
    width:100px;
    height:100px;
}
.user-top-info{
    display:flex;
    height:70px;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 15px;
}
.before-id-span{
    font-size:25px;
}
.userid-span{
    font-size: 25px;
    font-weight: 600;
}
.id-right-arrow{
    font-size: 25px;
    color: #cbcbcb;
}
.create-date-div{
    font-size: 14px;
    color: #9d9d9d;
}
.flex-justify-center{
    display: flex;
    justify-content: center;
}
.sub-menu-body{
    display: flex;
    width: 450px;
    padding: 20px;
    justify-content: space-between;
    border-top:1px solid gainsboro;
    border-bottom:1px solid gainsboro;
}
.sub-menu-div{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;
    justify-content: space-between;
    cursor:pointer;
    text-decoration:none;
    color:black;
}
.order-list-icon{
    width:40px;
    height:50px;
}
.sub-menu-icon{
    width:50px;
    height:50px;
}
.hidden-content{
    display:none;
}
.user-info-div{
    display: flex;
    flex-direction: column;
    margin-top:40px;
    margin-bottom:40px;
    width: 450px;
    padding:5px;
}
.user-info-details{
    border-bottom: 2px solid;
    font-weight:600;
    height:50px;
    align-content:center;
    margin-bottom:30px;
}
.store-name{
    font-weight: 600;
    font-size: 18px;
}
.review-btn{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border: 1px solid gainsboro;
    background-color: transparent;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 0px 6px 6px #e9e9e9;
}
.review-btn:hover{
    background-color: #f5f5f5;
}
.map-div{
    width:100%;
    height:300px;
    margin-top:10px;
}
.user-address-input{
    width: 100%;
    height: 40px;
    margin-top: 10px;
}
.search-address-btn{
    width:100%;
    display: inline-block;
    padding: .5em 1em;
    margin: .4em .15em;
    border: 1px solid #ccc;
    border-color: #dbdbdb #d2d2d2 #b2b2b2 #d2d2d3;
    cursor: pointer;
    color: #464646;
    border-radius: .2em;
    vertical-align: middle;
    font-size: 1em;
    line-height: 1.25em;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f2f2f2));
}
.list-menu-div{
    margin-bottom: 20px;
    border-bottom: 1px solid gainsboro;
}
.like-store-link{
    text-decoration:none;
    color:black;
}
.like-store-list{
    margin-bottom: 20px;
    border-bottom: 1px solid gainsboro;
}
.like-store-list:hover{
    background-color: #f5f5f5;
}
  .user-info-content{
     display:flex;
     justify-content: space-around;
     margin:15px;
     align-items: center;
  }
  .user-info{
    width:50%;
    height:40px;
    align-content: center;
  }
  .user-info-input{
    width:100%;
    border-radius: 5px;
    border: 1px solid #c9c9c9;
    height: 40px;
    font-size:14px;
    padding:10px;
  }
  .bottom-menu-div{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    align-items: center;
  }

 .check::before {
    content: '✔'; /* 체크 표시 */
    color: green;
 }
 .cross::before {
    content: '✘'; /* 엑스 표시 */
    color: red;
 }
 .ValidWarningFont{
    font-size:14px;
    color:#979797;
  }
  .myPage-logout-btn{
    border: none;
    font-size: 12px;
    background-color: transparent;
    padding: 12px 16px;
    color: #c9c9c9;
  }
 .modal-title{
    font-weight:600;
 }
 .modal-content{
    min-width:500px;
    min-height:300px;
 }
 .modal-footer{
    justify-content:space-between;
    padding-left:30px;
    padding-right:30px;
 }
   .seller-menu-btn{
    display: inline-block;
    padding: .5em 1em;
    margin: .4em .15em;
    border: 1px solid #ccc;
    border-color: #dbdbdb #d2d2d2 #b2b2b2 #d2d2d3;
    cursor: pointer;
    color: #464646;
    border-radius: .2em;
    vertical-align: middle;
    font-size: 1em;
    line-height: 1.25em;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f2f2f2));
}
.modal-body{
    display: flex;
    height: 200px;
    flex-direction: column;
    justify-content: space-around;
}
.store-info-input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #c9c9c9;
    height: 40px;
    font-size: 14px;
    padding: 10px;
}