.FilteringDiv{
    display:inline-flex;
    width: 60%;
    margin-bottom:5rem;
    }
    .StoreDiv{
    text-align: center;
    }
.StoreListDiv{
    width:60%;
    height:150px;
    display:inline-flex;
    border-bottom:1px solid #e9ecef;
    justify-content: space-between;
    }
.StoreThumbnail{
    width:250px;
    height:150px;
    }
.Thumbnail{
    width: 100%;
    height: 100%;
    display: block;
}
.StoreInfo{
    width:600px;
    text-align: left;
}
.SubInfo{

}
.StoreCategory{
    display:flex;
    flex-wrap:wrap;
    width:915px;
    gap:5px;
    padding:3rem;
}
.CategoryIcon{
    width:200px;
    height:200px;
}