.StoreDetails{
    width:100%;
    min-width:1500px;
    display:grid;
    justify-content:center;
}
.StoreImage{
    width:100%;
    height:20rem;
}
.carouselDetail{
    width:1200px;
    height:20rem;
}