.StoreDetails{
    width:100%;
    min-width:1500px;
    display:grid;
    justify-content:center;
}
.CarouselDetail{
    width: 1280px;
    height: 320px;
}

.StoreContent{
    padding:40px;
    box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.15);
}
.ContentHeader{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.RatingAndInfoDiv{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.StoreRatingDiv{
    margin:5px;
    display:flex;
    align-items:center;
}
.StoreName{
    font-size:36px;
    font-weight:700;
}
.StarIcon{
    width:25px;
}
.StarRating{
    font-size:16px;
    font-weight:700;
}
.LikesBtn{
    background-color:transparent;
    border:none;
}
.LikesIcon{
    width:36px;
    height:36px;
}
.MinOrderFont{
    color:#8b8b8b;
    font-weight:400;
}
.ContentDiv{
    display:flex;
}
.LeftContent{
    width: 120px;
}
.DeliTipTitle{
   font-weight:600;
}

.carousel .carousel-indicators button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    border: none !important;
    transition: background-color 0.3s;
}
.carousel-item {
    width: 100%;
    height: 350px;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    position: relative;
}

.carousel-item img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel-indicators{
margin-bottom:0px;
}
.FoodMenuDiv{
    display:flex;
    justify-content:space-between;
    padding:15px;
    border-bottom: 1px solid #dddddd;
}
.FoodMenuDiv:hover {
    background-color: #f5f5f5;
}
.FoodContentDiv{
    padding:10px;
}
.FoodNameFont{
    font-size: 24px;
    font-weight: 600;
}
.FoodDescFont{
    font-size: 14px;
    color: darkgrey;
}
.FoodPriceFont{
    font-size: 18px;
    font-weight: 600;
}
.FoodImage{
    width:200px;
}
.TopMenuDiv{
    display:flex;
    justify-content:space-between;
    margin-bottom:5px;
}
.TopMenuStyle{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:50px;
    cursor:pointer;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.1);
}
.TopMenuFont{
    font-size:16px;
}
.SelectMenu {
    box-shadow: 0px -5px 8px 0px rgba(0, 0, 0, 0.1)
 }
 .DynamicContent{
 box-shadow:0px 5px 8px 1px rgba(0, 0, 0, 0.1)
 }
 .StoreInfoDiv{
    padding:40px;
    display:none;
 }
 .ReviewDiv{
    display:none;
 }
 .StoreInfoCate{
    display:inline-flex;
    width:150px;
    color:grey;
 }
 .modal-title{
    font-weight:600;
 }
 .modal-content{
    min-width:500px;
    min-height:300px;
 }
 .modal-footer{
    justify-content:space-between;
    padding-left:30px;
    padding-right:30px;
 }
 .PlusMinusBtn{
    margin:auto;
    border:0px;
    background-color:white;
    font-size:20px;
    font-weight:100;
 }
 .CountDiv{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:150px;
    height:40px;
    border:1px solid #dddddd;
    border-radius: 5px;
 }
 .CountFont{
    font-weight:600;
 }
 .OrderDiv{
    display:flex;
    justify-content:space-between;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 10px
 }
 .MinOrderDiv{
    width: 150px;
    font-size: 14px
 }
.OrderBtn{
    border: 0px;
    background-color: #F986BD;
    color: white;
    border-radius: 5px;
    width: 100%;
}
