.wrap {
    padding: 5% 3% 0 3%;
    text-align: center;
}
.selector {
    margin: 8% auto;
    display: block;
}
.select-btn {
    width:1500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.UserSelect, .SellerSelect {
    border: black solid 1px;
    width: 350px;
    height: 400px;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}

.img-text{
    margin: 40px 0 -40px 0;
}

.img-text1{
    margin: 20px 0 -20px 0;
}

.select-img{
    width: 120px;
    height: 120px;
}

.select-img1 {
    width: 150px;
    height: 150px;
}

.color-5 {
    background: #353535;
}

.select-form{
    display: flex;
    width:100%;
    height:100%;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.SMN_effect-5 {
    position: relative;
    overflow: hidden;
    margin: 0 30px;
    padding: 18px 20px;
    text-align: center;

}

.SMN_effect-5:before, .SMN_effect-5:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #000000; /* Hover시 가시적인 효과를 위해 #000으로 변경 */
    content: '';
    opacity: 0.2;
    transition: opacity 0.3s, height 0.3s;
}

.SMN_effect-5:after {
    top: 100%;
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
    transform: translateY(-10px);
}

.SMN_effect-5 span:first-child {
    z-index: 2;
    display: block;
    font-weight: 300;
}

.SMN_effect-5 a span:last-child {
    z-index: 1;
    display: block;
    padding: 8px 0 0 0;
    color: rgba(0, 0, 0, 0.4);
    text-shadow: none;
    text-transform: none;
    font-style: italic;
    font-size: 14px;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
}

.SMN_effect-5:hover:before, .SMN_effect-5:focus:before {
    height: 6px;
}

.SMN_effect-5:hover:before, .SMN_effect-5:hover:after, .SMN_effect-5:focus:before, .SMN_effect-5:focus:after {
    opacity: 1; /* hover 시 두 번째 span 보이게 설정 */
    transform: translateY(0%); /* hover 시 제자리로 이동 */
}

.SMN_effect-5:hover span:last-child, .SMN_effect-5:focus span:last-child {
    opacity: 1;
    transform: translateY(0%);
}


