        body {
            user-select: none;
            margin:0px;
        }
        .Main {
            justify-content: space-between;
            background-color: #F986BD;
            height: 50px;
            display: flex;
            padding:15px;
            align-items: center;
        }
        .MenuStyle{
            margin-right:50px;
            width:150px;
            display:flex;
            justify-content: space-between;
        }
        .Logo {
            margin-left:50px;
            color: white;
            font-size: 26px;
            font-weight: 600;
            text-decoration:none;
        }
        .ImageStyle{
            width:30px;
        }

