<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<div class="FooterMain">
    <div class="FooterLine">
    <div class="FooterDiv">
        <div class="FooterContents">
            <div class="FooterTopFont">UJB형제들</div><br/>
            <div class="FooterTopFont">그린컴퓨터 아카데미</div>
        </div>
        <div class="FooterContents">
            <div class="SloganFont">오늘도 당신에게<br/>
                행복을 배달중<br/>
            </div>
            <div class="BrandName">&nbsp;배달의 만족</div>
        </div>
    </div>
    </div>
    <div class="FooterLine">
    <div class="FooterDiv">
            <div class="FooterContents">
               (주)UJB형제들 <br>
                주소 경기도 의정부시 시민로 80 센트럴타워<br>
                6층, 7층 그린컴퓨터아카데미<br>
                전화번호: 0507-1430-4112
            </div>
            <div  class="BlankSpace">
            </div>
    </div>
    </div>
</div>
</body>
</html>