<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<div class="FooterMain">
    <hr>
    <div class="FooterLine">
    <div class="FooterDiv">
        <div class="FooterContents">
            <h2 class="FooterTopFont">UJB형제들</h2><br/>
            <h2 class="FooterTopFont">그린컴퓨터 아카데미</h2>
        </div>
        <div class="FooterContents">
            <h1 class="SloganFont">오늘도 당신에게<br/>
                행복을 배달중<br/>
            </h1>
            <h5 class="BrandName">&nbsp;배달의 만족</h5>
        </div>
    </div>
    </div>
    <div class="FooterLine">
    <div class="FooterDiv">
            <div class="FooterContents">
               (주)UJB형제들 <br>
                주소 경기도 의정부시 시민로 80 센트럴타워<br>
                6층, 7층 그린컴퓨터아카데미<br>
                전화번호: 0507-1430-4112
            </div>
            <div  class="BlankSpace">
            </div>
    </div>
    </div>
</div>
</body>
</html>