<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<div class="MainLine StickyHeader">
    <div class="InnerLine">
    <a th:href="@{/}" class="Logo">배달의 만족</a>
        <div class="SearchDiv">
            <form id="searchForm">
            <input class="SearchText" type="text" id="searchText">
            <button class="SearchBtn" id="searchBtn">
                <img class="HeaderMenuImage" th:src="@{/img/headerimg/SearchIcon.png}" alt=""/>
            </button>
            </form>
        </div>
    <div class="MenuStyle">
        <a th:href="@{/Login}">
            <img class="HeaderMenuImage" th:src="@{/img/headerimg/LoginIcon.png}" alt=""/>
        </a>
        <a th:href="@{/}">
            <img class="HeaderMenuImage" th:src="@{/img/headerimg/NoticeIcon.png}" alt=""/>
        </a>
        <a th:href="@{/myCart}">
            <img class="HeaderMenuImage" th:src="@{/img/headerimg/CartIcon.png}" alt=""/>
        </a>
    </div>
    </div>
</div>
</body>
</html>
