<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>배달의 만족 - 회원가입</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link th:href="@{/css/ocss/mainpage.css}" rel="stylesheet"/>
    <link th:href="@{/css/ocss/join.css}" rel="stylesheet"/>
</head>
<body class="">

<header th:replace="~{Header :: body}"></header>
<section class="site-container">
    <header class="page-header">
        <div class="page-header__container">
            <div class="page-header__content">
                <h2 class="page-header__title">회원가입</h2>
            </div>
        </div>
    </header>
    <div class="login__container">
        <div class="login__content">
            <div class="login__inner">
                <form action="./login_proc.php" class="login__form" method="post">
                    <fieldset class="login__block">
                        <legend>계정 입력 폼</legend>
                        <input type="hidden" name="redirectUrl" value="/">
                        <a>이름</a>
                        <label class="login__label">
                            <input type="text" name="uname" placeholder="이름" class="login__input">
                        </label>
                        <a>아이디</a>
                        <label class="login__label">
                            <input type="text" name="uname" placeholder="아이디" class="login__input">
                        </label>
                        <a>비밀번호</a>
                        <label class="login__label">
                            <input type="password" name="pwd" placeholder="비밀번호" class="login__input">
                        </label>
                        <label class="login__label">
                            <input type="password" name="pwd" placeholder="비밀번호확인" class="login__input">
                        </label>
                        <a>이메일</a>
                        <label class="login__label">
                            <input type="text" name="email" placeholder="이메일" class="email">
                            @
                            <select>
                                <option>naver.com</option>
                                <option>gmail.com</option>
                                <option>daum.net</option>
                                <option>nate.com</option>
                            </select>
                        </label>

                        <a>주소</a>
                        <label class="login__label">
                            <input type="text" name="address" placeholder="주소" class="login__input">
                        </label>
                        <a>생년월일</a>
                        <label class="login__label">
                            <input type="date" name="pwd" placeholder="비밀번호" class="login__input">
                        </label>

                        <button type="submit" class="login__button login__button--login">제출하기</button>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>

</section>
</body>
</html>
