<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.12.4/sweetalert2.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.12.4/sweetalert2.all.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.portone.io/v2/browser-sdk.js"></script>
    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
    <title>배달의 만족</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link th:href="@{/css/ocss/mainpage.css}" rel="stylesheet"/>
    <link th:href="@{/css/ocss/cartpage.css}" rel="stylesheet"/>
    <script th:src="@{/js/ojs/myCart.js}"></script>
</head>
<body>
<header th:replace="~{Header :: body}"></header>
<div class="MyCartContainer">
    <div class="CartTitle">
        <span>장바구니</span>
    </div>
    <div class="JustifyContentCenter">
        <div class="table-top-div">
            <div class="StoreNameDiv" id="StoreNameDiv">
                <div>
             <span th:if="${session.cartItems != null and session.cartItems.size() > 0}"
                   th:text="${session.cartItems[0].storeName}"></span>
                    <span th:unless="${session.cartItems != null and session.cartItems.size() > 0}"></span>
                </div>
            </div>
            <div class="user-address-div" th:if="${session.userAddress != null}">
                <img class="location-icon" th:src="@{/img/mycartimg/locationIcon.png}">
                <input class="user-address-input" type="text" id="user-address-input" th:value="${session.userAddress}"
                       disabled>
            </div>
        </div>
    </div>
    <div class="JustifyContentCenter">
        <table class="CartTable">
            <caption class="AllTotalPrice" id="allTotalPrice">
            </caption>
            <thead>
            <tr class="OrderTableRow">
                <th>번호</th>
                <th>담은 음식</th>
                <th>수량</th>
                <th>상품금액</th>
                <th>합계</th>
            </tr>
            </thead>
            <tbody id="cart-container">
            <!-- 장바구니가 비어 있을 때 메시지 표시 -->
            <tr th:if="${session.cartItems == null or session.cartItems.size() == 0}" class="EmptyContentRow">
                <td colspan="5" class="text-center">
                    <div class="empty-cart-div">
                        <img class="empty-img" th:src="@{/img/mycartimg/EmptyCartIcon.png}">
                        <span class="empty-span">장바구니가 텅 비었어요.</span>
                    </div>
                </td>
            </tr>
            <!-- 장바구니에 아이템이 있을 때 내용 표시 -->
            <tr th:each="item, iterStat : ${session.cartItems}" class="TableContentRow"
                th:attr="id='row-' + ${iterStat.index}">
                <th scope="row" th:text="${iterStat.index + 1}">1</th>
                <td class="FoodImgNInfo">
                    <img th:src="${item.imgSrc}" alt="음식 이미지" class="food-img"/>
                    <div class="NameNDescDiv">
                        <span th:text="${item.foodName}" class="card-title">음식 이름</span>
                        <span th:text="${item.foodDesc}" class="card-text">음식 설명</span>
                    </div>
                </td>
                <td>
                    <div class="QuantityDiv">
                        <button class="QuantityControlBtn"
                                th:attr="onclick='changeQuantity(' + ${iterStat.index} + ', 1)'">
                            <img class="QuantityArrowIcon" th:src="@{/img/mycartimg/IncreaseQuantityArrowIcon.png}">
                        </button>
                        <span class="SubTd_quantity" th:attr="id='quantity-' + ${iterStat.index}"
                              th:text="${item.quantity}">수량</span>
                        <button class="QuantityControlBtn"
                                th:attr="onclick='changeQuantity(' + ${iterStat.index} + ', -1)'">
                            <img class="QuantityArrowIcon" th:src="@{/img/mycartimg/DecreaseQuantityArrowIcon.png}">
                        </button>
                    </div>
                </td>
                <td class="SubTd_price" th:text="${item.price}">가격</td>
                <td class="FoodTotal"></td>
                <td>
                    <div class="DeleteImgDiv">
                        <button class="DeleteBtn" th:attr="onclick='deleteItem(' + ${iterStat.index} + ')'">
                            <img class="TrashCanImg" th:src="@{/img/mycartimg/TrashCanIcon.png}">
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="JustifyContentCenter">
        <div class="user-info-div" th:if="${session.userName != null}">
            <div>
                <span class="user-info-span">주문자 </span>: <span th:text="${session.userName}" id="user-name"></span>
            </div>
            <div>
                <span class="user-info-span">이메일 </span>: <span th:text="${session.userEmail}" id="user-email"></span>
            </div>
            <div>
                <span class="user-info-span">연락처 </span>: <span th:text="${session.userPhone}" id="user-phone"></span>
            </div>
        </div>
    </div>
</div>
<div class="BuyFoodDiv" id="buyFoodDiv" th:if="${session.cartItems != null and session.cartItems.size() > 0}">
    <button class="BuyBtn" id="buyBtnNotLoggedIn" th:if="${#authentication.principal == 'anonymousUser'}"
            onclick="OnOrderClick()">
        주문하기
    </button>
    <button class="BuyBtn" id="buyBtnLoggedIn" th:if="${#authentication.principal != 'anonymousUser'}"
            onclick="OnOrderClick()">
        주문하기
    </button>
</div>
<div th:replace="~{Footer :: body}"></div>
</body>
</html>