<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f7e0248a0ea796980fa0dbd15bc25170&libraries=services"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=APIKEY&libraries=LIBRARY"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.12.4/sweetalert2.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.12.4/sweetalert2.all.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>배달의 만족</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link th:href="@{/css/ocss/mainpage.css}" rel="stylesheet"/>
    <link th:href="@{/css/ocss/mypage.css}" rel="stylesheet"/>
    <script th:src="@{/js/ojs/mypage.js}"></script>
</head>
<body>
<header th:replace="~{Header :: body}"></header>
<div class="container">
    <div class="my-page-title">
        <div class="title-top-div">
            <img class="profile-icon" th:src="@{/img/mypageimg/default-profile-icon.png}" alt="profileIcon"/>
            <div class="user-top-info">
                <div style="display:flex;">
                    <span class="before-id-span">고마운 분,</span>
                    <div id="user-info-btn" style="cursor:pointer;">
                        <span class="userid-span" th:text="${#authentication.name}"></span>
                        <span class="id-right-arrow"> > </span>
                    </div>
                </div>
                <div class="create-date-div">
                    <span>가입하신 날짜 : </span>
                    <span th:text="${session.userCreateDate}" id="create-date"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-justify-center">
        <div class="sub-menu-body">
            <div class="sub-menu-div" id="order-list-btn">
                <img class="order-list-icon" th:src="@{/img/mypageimg/order-list-icon.png}" alt="profileIcon"/>
                <span>주문내역</span>
            </div>
            <div class="sub-menu-div" id="likes-btn">
                <img class="sub-menu-icon" th:src="@{/img/mypageimg/likeicon.png}" alt="profileIcon"/>
                <span>나의 찜</span>
            </div>
            <div class="sub-menu-div" id="address-btn" th:if="${session.authentication == 'user'}">
                <img class="sub-menu-icon" th:src="@{/img/mypageimg/address-icon.png}" alt="profileIcon"/>
                <span>주소관리</span>
            </div>
            <a th:href="@{/StoreDetails(sno=${session.authentication})}" class="sub-menu-div" id="store-setting-btn"
               th:if="${session.authentication != 'user'}">
                <img class="sub-menu-icon" th:src="@{/img/mypageimg/store-setting-icon.png}" alt="settingIcon"/>
                <span>매장관리</span>
            </a>
        </div>
    </div>
    <div class="flex-justify-center">
        <div class="hidden-content" id="user-info-div">
            <div class="user-info-div">
                <div class="user-info-details">
                    <span>개인정보 수정</span>
                </div>
                <form th:action="@{/edit/user-info}" id="edit-user-form" method="post" th:object="${userDTO}">
                    <div class="user-info-content">
                        <label class="user-info" for="userName">이름</label>
                        <input type="text" id="userName" name="name" class="user-info-input" autocomplete="off"
                               maxlength="5"
                               th:value="${session.userName}"
                               required>
                    </div>

                    <div class="user-info-content">
                        <label class="user-info" for="userEmail">이메일</label>
                        <input type="text" id="userEmail" name="email" class="user-info-input"
                               th:value="${session.userEmail}" maxlength="20" required>
                    </div>

                    <div class="user-info-content">
                        <label class="user-info" for="password">비밀번호 변경</label>
                        <input type="password" id="password" name="password"
                               class="user-info-input" maxlength="20" required>
                    </div>

                    <div class="user-info-content">
                        <label class="user-info" for="passCheck">비밀번호 재확인</label>
                        <input type="password" id="passCheck" name="passCheck"
                               class="user-info-input" autocomplete="off" maxlength="20" required>
                    </div>
                    <div class="user-info-content">
                        <label class="user-info" for="phone">전화번호</label>
                        <input type="text" id="phone" name="phone" class="user-info-input"
                               maxlength="13" autocomplete="off"
                               th:value="${session.userPhone}" required>
                    </div>
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <input type="hidden" id="pass-check-status" value="false">
                        <span class="icon cross" id="passCheckStatus" style="display:none;"></span>&nbsp;
                        <span class="ValidWarningFont" id="valid-warning"></span><br/>
                    </div>
                    <div class="user-info-content">
                        <button type="submit" id="change-user-info-btn" class="search-address-btn">
                            저장
                        </button>
                    </div>
                </form>
            </div>
            <div class="bottom-menu-div">
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="myPage-logout-btn">로그아웃
                    </button>
                </form>
                <button type="button" id="openModal" class="myPage-logout-btn">회원탈퇴</button>
            </div>
        </div>
    </div>
    <div class="flex-justify-center">
        <div class="hidden-content" id="user-order-div" style="display:block;">
            <div class="user-info-div">
                <div class="user-info-details">
                    <span>주문 내역</span>
                </div>
                <div th:if="${not #lists.isEmpty(orderHistories)}">
                    <div th:each="orderHistory : ${orderHistories}" class="list-menu-div">
                        <div>
            <span th:text="${orderHistory.formattedOrderDate} + ' 일'"
                  style="color: #acacac; font-size: 16px;"></span>
                        </div>
                        <div class="store-name" id="storeName" th:text="${orderHistory.store}"></div>
                        <div style="margin-bottom:15px;">
                            <span th:text="${orderHistory.food}"></span>
                            <span th:text="${orderHistory.totalPrice}"></span>원
                        </div>
                        <button class="review-btn"
                                id="review-btn"
                                th:if="${orderHistory.reviewed == 'N'}"
                                th:data-store="${orderHistory.store}"
                                th:data-food="${orderHistory.food}">
                            리뷰 쓰기
                        </button>
                    </div>
                </div>
                <div class="modal" id="add-review-modal" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" id="btn-close" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="" id="add-review-modal-body" style="display:flex; height:100%; justify-content: space-around; margin-top:auto;">
                            </div>
                            <div style="display:flex; justify-content:center; margin:auto;">
                                <img class="rating-star" th:each="i : ${#numbers.sequence(1,5)}"
                                     th:src="@{/img/storedetailimg/star-empty.png}"
                                     th:data-value="${i}"
                                     th:onclick="|setRating(${i})|"
                                     style="cursor: pointer; height:60px; margin:10px;">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 주문 목록이 없을 때 -->
                <div th:if="${#lists.isEmpty(orderHistories)}">
                    <div style="width: 450px; height: 200px; text-align: center; align-content: center; margin-bottom: 50px;">
                        <p style="font-weight:600;">주문 목록이 없습니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="delete-account-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">정말 탈퇴하시겠습니까?</h5>
                    <button type="button" class="btn-close" id="closeModal" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span>회원탈퇴 시 서비스를 더 이상 이용하실 수 없으며,</span>
                    <span>정보가 삭제되고 복구 하실 수 없습니다.</span>
                    <div class="store-info-div">
                        <label class="store-info" for="delete-passCheck">비밀번호 입력해주세요.</label>
                        <input type="password" id="delete-passCheck" name="password" class="store-info-input"
                               required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="cancel-btn" class="seller-menu-btn" data-bs-dismiss="modal">취소
                    </button>
                    <button type="button" class="seller-menu-btn" id="delete-account-btn">탈퇴</button>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-justify-center">
        <div class="hidden-content" id="user-likes-div">
            <div class="user-info-div">
                <div class="user-info-details">
                    <span>찜 목록</span>
                </div>
                <div th:if="${not #lists.isEmpty(userLikeStores)}">
                    <div th:each="userLikeStores : ${userLikeStores}" class="like-store-list">
                        <a class="like-store-link" th:href="@{/StoreDetails(sno=${userLikeStores.sno})}">
                            <div class="store-name" th:text="${userLikeStores.store}"></div>
                            <div>
                                <span class="create-date-div">배달팁 </span><span
                                    th:text="${userLikeStores.deliTip}"></span>
                            </div>
                            <div style="margin-bottom:15px;">
                                <span class="create-date-div">최소주문 </span><span
                                    th:text="${userLikeStores.minOrder}"></span>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- 주문 목록이 없을 때 -->
                <div th:if="${#lists.isEmpty(userLikeStores)}">
                    <div style="width: 450px; height: 200px; text-align: center; align-content: center; margin-bottom: 50px;">
                        <p style="font-weight:600;">찜 목록이 없습니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-justify-center">
        <div class="hidden-content" id="user-address-div">
            <div class="user-info-div">
                <label for="user-address">
                    <div class="user-info-details">
                        현재 주소
                    </div>
                    <input type="text" class="user-address-input" id="user-address"
                           th:value="${session.userAddress}"
                           disabled>
                    <input type="text" class="user-address-input" id="user-detail-address" placeholder="상세주소"
                           required>
                    <div class="map-div" id="map"></div>
                    <input type="button" class="search-address-btn" id="search-address-btn" value="주소검색"><br>
                    <input type="button" id="change-address-btn" class="search-address-btn" value="저장"><br>
                </label>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{Footer :: body}"></div>
</body>
</html>