<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.12.4/sweetalert2.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.12.4/sweetalert2.all.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>배달의 만족</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link th:href="@{/css/ocss/mainpage.css}" rel="stylesheet"/>
    <link th:href="@{/css/ocss/storeDetails.css}" rel="stylesheet"/>
    <script th:src="@{/js/ojs/main.js}"></script>
    <script th:src="@{/js/ojs/storeDetails.js}"></script>
</head>
<body>
<header th:replace="~{Header :: body}"></header>
<div class="StoreDetails">
    <div id="CarouselDetail" class="carousel slide CarouselDetail" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button th:each="image, iter : ${storeDetails.images}"
                    th:classappend="${iter.index == 0} ? 'active' : ''"
                    type="button"
                    data-bs-target="#CarouselDetail"
                    th:data-bs-slide-to="${iter.index}"
                    th:attr="aria-current=${iter.index == 0} ? 'true' : 'false'"
            >
            </button>
        </div>
        <div class="carousel-inner">
            <div th:each="image, iter : ${storeDetails.images}"
                 class="carousel-item" th:classappend="${iter.index == 0} ? ' active' : ''">
                <img th:src="${image.imageUrl}" alt="Store Image">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#CarouselDetail" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#CarouselDetail" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="StoreContent">
        <div class="ContentHeader">
            <span class="StoreName" id="storeName" th:text="${storeDetails.store}"></span>
            <input type="hidden" id="isLikedStore" th:value="${likeStore}">
            <button class="LikesBtn" id="LikesBtn">
                <img id="likeIcon" class="LikesIcon" th:src="@{/img/storedetailimg/LikesIconBefore.png}" alt="Like Icon">
            </button>
        </div>
        <div class="RatingAndInfoDiv">
            <div class="StoreRatingDiv">
                <img class="StarIcon" th:src="@{/img/storedetailimg/StarIcon.png}">
                <span class="StarRating" th:text="${averageRating}"></span>
                &nbsp;
                <div id="reviewSpan">
                    <span class="StarRating">리뷰</span>
                    <span class="StarRating" th:text="${#lists.size(storeDetails.reviews)}"></span><span
                        class="StarRating">개></span>
                </div>
            </div>
        </div>
        <hr>
        <div class="ContentDiv">
            <div class="LeftContent">
                <span class="MinOrderFont">최소주문금액</span>
            </div>
            <div>
                <span th:text="${storeDetails.minOrder}"></span>원<br/>
            </div>
        </div>
        <div class="ContentDiv">
            <div class="LeftContent">
                <span class="MinOrderFont">배달</span>
            </div>
            <div>
                <span th:text="${storeDetails.deliTime}"></span><br/>
                <span class="DeliTipTitle">배달팁 </span><span th:text="${storeDetails.deliTip}"></span>
            </div>
            <!-- <div th:if="${session.authentication == storeDetails.sno}" class="seller-menu-div"> -->
            <button type="button" class="seller-menu-btn" data-bs-toggle="modal"
                    data-bs-target="#edit-store-img-modal">대표이미지 수정
            </button>
            <button type="button" class="seller-menu-btn" data-bs-toggle="modal" data-bs-target="#edit-store-modal">
                가게정보 수정
            </button>
            <button type="button" class="seller-menu-btn" data-bs-toggle="modal" data-bs-target="#add-food-modal">메뉴 추가
            </button>
            <button type="button" class="seller-menu-btn">메뉴 삭제</button>
            <!-- </div> -->
        </div>
    </div>
    <div class="modal" id="edit-store-img-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">대표 이미지</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action="@{/edit/store-img}" enctype="multipart/form-data" method="post">
                    <input type="hidden" name="sno" th:value="${storeDetails.sno}">
                    <div class="modal-body">
                        <div id="store-img-carousel" class="carousel store-img-carousel">
                            <div class="carousel-indicators" style="bottom:10px;">
                                <button th:each="image, iter : ${storeDetails.images}"
                                        th:classappend="${iter.index == 0} ? 'active' : ''"
                                        type="button"
                                        data-bs-target="#store-img-carousel"
                                        th:data-bs-slide-to="${iter.index}"
                                        th:attr="aria-current=${iter.index == 0} ? 'true' : 'false'"
                                >
                                </button>
                            </div>
                            <div class="carousel-inner">
                                <div th:each="image, iter : ${storeDetails.images}"
                                     class="carousel-item" style=""
                                     th:classappend="${iter.index == 0} ? ' active' : ''">
                                    <img th:src="${image.imageUrl}" alt="Store Image">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" style="width:100px;"
                                    data-bs-target="#store-img-carousel"
                                    data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" style="width:100px;" type="button"
                                    data-bs-target="#store-img-carousel"
                                    data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="file" name="file" class="seller-menu-btn" style="width:100%;"
                               id="add-store-img-btn" required>
                        <button type="button" class="seller-menu-btn" data-bs-dismiss="modal">취소</button>
                        <button class="seller-menu-btn">추가</button>
                        <button class="delete-button seller-menu-btn" onclick="deleteSlide(${iter.index})">삭제</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal" id="edit-store-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">가게정보 수정</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action="@{/edit/store}" method="post">
                    <div class="modal-body">
                        <input type="hidden" name="sno" th:value="${storeDetails.sno}">
                        <div class="store-info-div">
                            <label class="store-info" for="store">매장명</label>
                            <input type="text" id="store" name="store" class="store-info-input"
                                   th:value="${storeDetails.store}"
                                   required>
                        </div>

                        <div class="store-info-div">
                            <label class="store-info" for="ceo">대표자</label>
                            <input type="text" id="ceo" name="ceo" class="store-info-input"
                                   th:value="${storeDetails.ceo}"
                                   required>
                        </div>

                        <div class="store-info-div">
                            <label class="store-info" for="openingHours">운영시간</label>
                            <input type="text" id="openingHours" name="openingHours" class="store-info-input"
                                   th:value="${storeDetails.openingHours}" required>
                        </div>

                        <div class="store-info-div">
                            <label class="store-info" for="closedDays">휴무일</label>
                            <input type="text" id="closedDays" name="closedDays" class="store-info-input"
                                   th:value="${storeDetails.closedDays}" required>
                        </div>

                        <div class="store-info-div">
                            <label class="store-info" for="deliTime">배달시간</label>
                            <input type="text" id="deliTime" name="deliTime" class="store-info-input"
                                   th:value="${storeDetails.deliTime}" required>
                        </div>

                        <div class="store-info-div">
                            <label class="store-info" for="deliTip">배달팁</label>
                            <input type="text" id="deliTip" name="deliTip" class="store-info-input"
                                   th:value="${storeDetails.deliTip}"
                                   required>
                        </div>

                        <div class="store-info-div">
                            <label class="store-info" for="minOrder">최소주문금액</label>
                            <input type="text" id="minOrder" name="minOrder" class="store-info-input"
                                   th:value="${storeDetails.minOrder}" required>
                        </div>
                        <div class="store-info-div">
                            <label class="store-info" for="tel">매장전화번호</label>
                            <input type="text" id="tel" name="tel" class="store-info-input"
                                   th:value="${storeDetails.tel}"
                                   required>
                        </div>
                        <div class="store-info-div">
                            <label class="store-info" for="addr">매장주소</label>
                            <input type="text" id="addr" name="addr" class="store-info-input"
                                   th:value="${storeDetails.addr}"
                                   required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="seller-menu-btn" data-bs-dismiss="modal">취소</button>
                        <button type="submit" class="seller-menu-btn" id="save-change-btn">저장</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal" id="add-food-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">메뉴추가</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action="@{/edit/foods}" enctype="multipart/form-data" method="post">
                    <input type="hidden" id="sno" name="sno" th:value="${storeDetails.sno}">
                    <div class="modal-body">
                        <div class="store-info-div">
                            <label class="store-info" for="food">메뉴이름</label>
                            <input type="text" id="food" name="food" class="store-info-input" required>
                        </div>
                        <div class="store-info-div">
                            <label class="store-info" for="description">상세설명</label>
                            <input type="text" id="description" name="description" class="store-info-input" required>
                        </div>
                        <div class="store-info-div">
                            <label class="store-info" for="price">가격</label>
                            <input type="text" id="price" name="price" class="store-info-input" required>
                        </div>
                        <div class="store-info-div">
                            <label class="store-info" for="multipartFile">메뉴사진</label>
                            <input type="file" id="multipartFile" name="multipartFile"
                                   class="form-control store-info-input" accept="image/*" required>
                        </div>
                        <div class="store-info-div">
                            <img id="imagePreview" class="preview" th:src="@{/img/default.jpg}" alt="Image Preview"
                                 style="width:300px;">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="seller-menu-btn" data-bs-dismiss="modal">취소</button>
                        <button type="submit" class="seller-menu-btn" id="add-food-btn">메뉴추가</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="TopMenuDiv">
        <div class="TopMenuStyle SelectMenu" id="FoodMenuBtn">
            <span class="TopMenuFont">메뉴</span>
        </div>
        <div class="TopMenuStyle" id="StoreInfoBtn">
            <span class="TopMenuFont">가게 정보</span>
        </div>
        <div class="TopMenuStyle" id="ReviewBtn">
            <span class="TopMenuFont">리뷰</span>
        </div>
    </div>
    <div class="DynamicContent" id="DynamicContent">
        <div th:each="food, iterStat : ${storeDetails.foods}"
             class="FoodMenuDiv HiddenContent"
             th:id="'FoodMenuDiv' + ${iterStat.index}"
             onclick="ClickedFoodMenu(this.id)">
            <div class="FoodContentDiv">
                <span class="FoodNameFont" th:text="${food.food}">음식 이름</span><br/>
                <span class="FoodDescFont" th:text="${food.description}">음식 설명</span><br/>
                <span class="FoodPriceFont" th:text="${food.price}+원">가격</span><br/>
            </div>
            <div>
                <img class="FoodImage" th:src="@{${food.imageUrl}}" alt="Food Image"/>
            </div>
        </div>

        <div class="modal" id="clickedFoodModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content" id="modalContent">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitle"></h5>
                        <button type="button" class="btn-close" id="closeModal" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="modalBody">
                    </div>
                    <div class="modal-footer">
                        <div>
                            <span class="CountFont">수량</span>
                        </div>
                        <div class="CountDiv" style="">
                            <button type="button" class="PlusMinusBtn" id="minusBtn" data-bs-dismiss="modal">-</button>
                            <span id="OrderQuantity">1</span>&nbsp;개
                            <button type="button" class="PlusMinusBtn" id="plusBtn">+</button>
                            <br/>
                        </div>
                    </div>
                    <div class="OrderDiv">
                        <div class="MinOrderDiv">
                            <span class="MinOrderFont">최소주문금액</span><br/>
                            <span th:text="${storeDetails.minOrder}"></span>원
                        </div>
                        <button class="OrderBtn" id="OrderBtn"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="StoreInfoDiv HiddenContent" id="StoreInfoDiv">
            <span class="StoreInfoCate">상호명</span> <span th:text="${storeDetails.store}"></span><br/>
            <span class="StoreInfoCate">주소</span> <span th:text="${storeDetails.addr}"></span><br/>
            <span class="StoreInfoCate">운영시간</span> <span th:text="${storeDetails.openingHours}"></span><br/>
            <span class="StoreInfoCate">휴무일</span> <span th:text="${storeDetails.closedDays}"></span><br/>
            <span class="StoreInfoCate">매장전화</span> <span th:text="${storeDetails.tel}"></span>
            <hr>
            <h5>가게 통계</h5>
            <span class="StoreInfoCate">주문수</span><span th:text="${storeDetails.orderCount}"></span><br/>
            <span class="StoreInfoCate">리뷰수</span><span th:text="${#lists.size(storeDetails.reviews)}"></span><br/>
            <span class="StoreInfoCate">찜</span><span th:text="${storeDetails.likes}"></span><br/>
            <hr>
            <h5>배달팁 안내</h5>
            <li>거리,시간대,지역,배달방식,할인,클럽 혜택,사장님이 사용하는 요금제 등에 따라 배달팁이 달라져요.</li>
            <li>알뜰배달은 근처 주문을 함께 배달해요.
                <hr>
                <h5>사업자정보</h5><br/>
                <span class="StoreInfoCate">대표자명</span> <span th:text="${storeDetails.ceo}"></span><br/>
                <span class="StoreInfoCate">상호명</span> <span th:text="${storeDetails.store}"></span><br/>
                <span class="StoreInfoCate">사업자주소</span> <span th:text="${storeDetails.addr}"></span><br/>
        </div>
        <div class="ReviewDiv HiddenContent" id="ReviewDiv">
            <div class="ReviewContentDiv">
                머시랭 리뷰 슬거임.
            </div>
        </div>
    </div>
</div>
<div class="BuyFoodDiv" id="buyFoodDiv">
    <a class="move-to-cart" th:href="@{/myCart}" id="move-to-cart">
        장바구니로 이동
    </a>
</div>
<div th:replace="~{Footer :: body}"></div>
</body>
</html>