<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>배달의 만족</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link th:href="@{/css/ocss/mainpage.css}" rel="stylesheet" />
    <link th:href="@{/css/ocss/storelist.css}" rel="stylesheet" />
</head>
<body>
<header th:replace="~{Header :: body}"></header>
<div class="StoreList">
    <div class="row" style="justify-content:center;">
        <div class="StoreCategory" style="">
            <a th:href="@{/StoreList?searchText=피자}">
            <img class="CategoryIcon" th:src="@{/img/storelistimg/FoodCate_Pizza.png}" alt="..."/>
            </a>
        </div>
    </div>

    <div class="StoreDiv">
        <div class="FilteringDiv">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                기본순
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">배달 빠른 순</a></li>
                <li><a class="dropdown-item" href="#">배달팁 낮은 순</a></li>
                <li><a class="dropdown-item" href="#">기본순</a></li>
                <li><a class="dropdown-item" href="#">별점 높은 순</a></li>
                <li><a class="dropdown-item" href="#">찜 많은 순</a></li>
            </ul>
            <button class="btn btn-outline-secondary">
                쿠폰
            </button>
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                배달팁
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">전체</a></li>
                <li><a class="dropdown-item" href="#">무료</a></li>
                <li><a class="dropdown-item" href="#">1000원 이하</a></li>
                <li><a class="dropdown-item" href="#">2,000원 이하</a></li>
                <li><a class="dropdown-item" href="#">3,000원 이하</a></li>
            </ul>
            <button class="btn btn-outline-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                ☆별점
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">★★★★☆ 4점 이상</a></li>
                <li><a class="dropdown-item" href="#">★★★☆ 3점 이상</a></li>
                <li><a class="dropdown-item" href="#">★★☆ 2점 이상</a></li>
            </ul>
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                최소주문금액
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">전체</a></li>
                <li><a class="dropdown-item" href="#">5,000원 이하</a></li>
                <li><a class="dropdown-item" href="#">10,000원 이하</a></li>
                <li><a class="dropdown-item" href="#">12,000원 이하</a></li>
                <li><a class="dropdown-item" href="#">15,000원 이하</a></li>
                <li><a class="dropdown-item" href="#">20,000원 이하</a></li>
            </ul>
        </div>

        <div th:if="${#lists.isEmpty(stores)}">검색 결과가 없습니다.</div>
        <div th:each="store : ${stores}" class="StoreListDiv">
            <a class="StoreATag" th:href="@{/StoreDetails(sno = ${store.sno})}">
            <div class="StoreThumbnail">
                <img class="Thumbnail" th:src="${store.images.size() > 0 ? store.images[0].imageUrl : '/img/default.png'}" alt="Store Thumbnail"/>
            </div>
            <div class="StoreInfo">
                <h2 th:text="${store.store}">가게 이름</h2><br/>
                <span>평점 & 추천메뉴?</span><br/>
                배달시간 <span th:text="${store.deliTime}"></span>&nbsp; 배달팁 <span th:text="${store.deliTip}"></span><br/>
                최소주문 <span th:text="${store.minOrder}"></span>원
            </div>
            <div class="SubInfo">
                SubInfo
            </div>
            </a>

        </div>
    </div>
</div>
<div th:replace="~{Footer :: body}"></div>
</body>
</html>