<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/ocss/Usertype.css}" rel="stylesheet"/>
    <link th:href="@{/css/ocss/mainpage.css}" rel="stylesheet"/>
</head>
<body>
<header th:replace="~{Header :: body}"></header>
<div class="wrap">
    <div class="container">
        <div class="sub-title">
            <h3>회원의 유형을 선택해주세요.</h3>
        </div>
        <div class="selector select-btn">
            <ul id="UserSelect" class="UserSelect SMN_effect-5">

                <a class="select-form" th:href="@{/Join}">
                    <div>
                        <img class="select-img" th:src="@{/img/Joinimg/user.png}">
                        <span class="img-text">일반 사용자</span>
                        <span class="img-text">배달의 만족을 이용하시는 회원</span>
                    </div>
                </a>

            </ul>
            <ul id="SellerSelect" class="SellerSelect SMN_effect-5">

                <a class="select-form" th:href="@{/SellerJoin}">
                    <div>
                        <img class="select-img1" th:src="@{/img/Joinimg/seller.png}">
                        <span class="img-text1">배달의 만족 사장님</span>
                        <span class="img-text1">배달의 만족을 이용하시는 사장님</span>
                    </div>
                </a>

            </ul>

        </div>
    </div>
</div>
<div th:replace="~{Footer :: body}"></div>
</body>
</html>
